* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    align-self: center;
    flex: 0 1 auto;
    padding: 2%;
}

.body {
    flex: 1 1 auto;
    color: white;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3b874f;
    border-radius: 5%;
    border: 1px solid white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.card > div {
    margin: 5% 10%;
}

#card-title-1 {
    margin-bottom: 10px;
}

.Option-1 {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.Option-1 > div {
    border: 1px solid #3b874f;
    height: 75px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10%;
}

input[type='radio'] { 
    margin-left: 10px;
    transform: scale(1.5); 
}

input[type="radio"]:checked {
    accent-color: black;
}

#otherLocations {
    width: 80%;
    height: 80%;
    font-size: 2rem;
    outline: none;
    border: none;
}
 
.lower-half {
    display: flex;
    flex-direction: column;
}

.Option-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 5px;
}

.Option-2 > div {
    margin: 10px 0;
    padding: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Option-2 input[type='radio'] {
    margin-left: 0;
}

.lower-half > a,
fieldset > a {
    align-self: flex-end;
    margin-top: 20px;
}

.btn {
    border: none;
    text-decoration: none;
    background-color: white;
    color: gray;
    width: 200px;
    padding: 10px 5px;
    border-radius: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.1em;
}

.btn:hover {
    color: black;
}

.footer {
    flex: 0 1 40px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.information {
    display: flex;
    width: 60%;
    color: gray;
    gap: 10%;
}

/* Adding dark green background to selected option */
.test,
.Option-2 > .test {
    background-color: #3b874f;
}

ul {
    list-style-type: none;
}

.values > p {
    font-size: 1rem;
    color: black;
    margin-right: 10px;
}

fieldset {
    height: 90%;
    width: 80%;
    border: none;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
}

.top-form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 40px;
}

.input {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 10px;
}

input:focus {
    outline: 0;
}

.input_field {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    line-height: 30px;
}

input::placeholder {
    color: #9dc9b0;
}

#otherLocations::placeholder {
    color: gray;
}

#streetAdressDiv,
#creditCardDiv {
    grid-column: span 2;
}

#states_postalCode {
    display: grid;
    grid-template-columns: 100px 100px;
}

#states {
    margin-right: 20px;
}

#emailAdressDiv {
    grid-column: span 2;
}

.bottom-form {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 40px;
}

.bottom-form > div {
    margin-top: 10px;
}

legend {
    font-size: 2em;
}

.expirationDate {
    display: grid;
    grid-template-columns: 100px 100px;
    column-gap: 10px;
}

#ExpirationLabel {
    grid-column: span 2;
}

@media (min-width: 900px) {
    
    .body {
        background-image: url(./images/Background-image.png);
        background-size: cover;
    }

    .card {
        margin: 5% 10%;
        width: 500px;
        height: 600px;
    }

    .footer {
        flex-direction: row;
        justify-content: space-around;
    }

    fieldset {
        width: 90%;
        margin: 10px 20px;
    }
}