* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter'
}

body {
    background-color: white;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    align-self: center;
    flex: 0 1 auto;
    padding: 2%;
}

.body {
    flex: 1 1 auto;
    color: white;
    width: 100%;
}

.card {
    width: 640px;
    height: 928px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #24874E;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.card > div,
.card > fieldset {
    margin: 5%;
}

#card-title-1,
#card-title-2 {
    margin-bottom: 25px;
}

.Option-1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.Option-1 > div {
    height: 75px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

input[type='radio'] { 
    margin-left: 10px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

input[type="radio"]:checked {
    accent-color: black;
}

.choice:has(input[type="radio"]:checked),
input[type="radio"]:checked + #otherLocations, 
input[type="radio"]:checked + p {
    color: white;
    background-color: #24874E;
    border-color: white;
}

#otherLocations {
    width: 80%;
    height: 80%;
    font-size: 1.3rem;
    outline: none;
    border: none;
    background-color: transparent;
}
 
.lower-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#card-title-2,
.Option-2 {
    grid-column: span 2;
}

.Option-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 5px;
}

.Option-2 > div {
    margin: 10px 0;
    padding: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Option-2 input[type='radio'] {
    margin-left: 0;
}

.next-page {
    align-self: flex-end;
    margin-top: 20px;
}

.prev-page {
    align-self: flex-start;
    margin-top: 60px;
}

.prev-page > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #9dc9b0;
    font-size: 16px;
}

.next-btn {
    font-weight: 700;
    font-size: 22px;
    border: none;
    text-decoration: none;
    background-color: white;
    color: black;
    width: 256px;
    height: 56px;
    padding: 10px 5px;
    border-radius: 60px;
    cursor: pointer;
}

.next-btn:hover {
    background-color: #24874E;
    color: white;
    border: 1px solid white;
}

.footer {
    flex: 0 1 40px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.information {
    display: flex;
    width: 60%;
    color: gray;
    gap: 10%;
}

ul {
    list-style-type: none;
}

.dollar-amount {
    font-size: 60px;
}

.choice > p {
    font-weight: 400;
    font-size: 16px;
    margin: 0 17px;
}

fieldset {
    border: none;
    font-size: 28px;
    display: flex;
    flex-direction: column;
}

.top-form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0 63px;
}

.input > label {
    font-size: 14px;
    margin-bottom: 8px;
}

.input > input::placeholder,
.input > input {
    font-size: 20px;
}

.input {
    display: flex;
    flex-direction: column-reverse;
}

input:focus {
    outline: 0;
}

.input_field {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    line-height: 40px;
}

input::placeholder {
    color: #9dc9b0;
}

#otherLocations::placeholder {
    color: gray;
}

#streetAdressDiv,
#creditCardDiv,
#emailAdressDiv {
    grid-column: span 2;
}

#provinces_postalCode {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 0 30px;
}

.Info .next-page {
    margin-top: -60px;
}

.Info .prev-page {
    margin-top: 90px;
}

.bottom-form {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0 63px;
}

.top-form > div,
.bottom-form > div {
    margin-top: 22px;
}

legend {
    font-weight: 700;
}

.expirationDate {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 0 30px;
}

#ExpirationLabel {
    grid-column: span 2;
}

#CVC {
    width: 100px;
}

@media (min-width: 700px) {
    
    .body {
        background-image: url(./images/Background-image.png);
        background-size: cover;
    }

    .card {
        margin: 5% 10%;
        width: 640px;
        height: 928px;
    }

    .card > div {
        margin: 20px 66px;
    }

    #card-title-1,
    #card-title-2 {
        font-weight: 700;
        font-size: 24px;
    }

    .Option-1 > div {
        width: 509px;
        height: 126px;
        font-size: 35px;
    }

    input[type='radio'] { 
        margin-left: 30px;
        margin-right: 30px;
        width: 32px;
        height: 32px;
    }

    #otherLocations {
        font-size: 35px;
    }

    .Option-2 {
        row-gap: 22px;
    }

    .Option-2 > div {
        width: 256px;
        height: 88px;
        font-size: 22px;
    }

    .next-btn {
        width: 256px;
        height: 56px;
        padding: 0;
        margin: 0;
        font-size: 22px;
    }

    #top-fieldset {
        margin: 20px 64px 15px;
    }
    
    #bottom-fieldset {
        margin: 15px 64px 20px;
    }    

    .footer {
        flex-direction: row;
        justify-content: space-around;
    }
}